.loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
}
.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid $color-primary; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    @include absCenter;
    &--small {
      border: 8px solid #f3f3f3; 
      border-top: 8px solid $color-primary; 
      width: 80px;
      height: 80px;
      right: 43%;
    }
  }

  .error-indicator {
    width: 48%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7730;
    color: white;
    font-size: 20px;
    margin: 0 auto;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }