@import 'src/scss/main.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    
    &-image {
        display: block;
        width: 100%;
        height: 15rem;
        object-fit: cover;

        @include respond(tab-land) {
            height: 30rem;
        }
        @include respond(_700_) {
            height: 40rem;
        }

    }
}